*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.app {
  display: flex;
  flex-direction: column;
  align-items: center;

  overflow-x: hidden;
  /* overflow-y: auto; */
}

.app_body {
  display: flex;
  align-items: center;
}
